
GC_CircleObjects/obj/Debug/net5.0/refint/GC_CircleObjects.dll
GC_CircleObjects/obj/Debug/net5.0/ref/GC_CircleObjects.dll
GC_CircleObjects/obj/Debug/net5.0/GC_CircleObjects.pdb
GC_CircleObjects/obj/Debug/net5.0/GC_CircleObjects.dll
GC_CircleObjects/obj/Debug/net5.0/GC_CircleObjects.csproj.BuildWithSkipAnalyzers
GC_CircleObjects/bin/Debug/net5.0/GC_CircleObjects.pdb
GC_CircleObjects/bin/Debug/net5.0/GC_CircleObjects.dll
.vs/GC_CircleObjects/v17/.suo
GC_CircleObjects/obj/Debug/net5.0/refint/GC_CircleObjects.dll
GC_CircleObjects/obj/Debug/net5.0/ref/GC_CircleObjects.dll
GC_CircleObjects/obj/Debug/net5.0/GC_CircleObjects.pdb
GC_CircleObjects/obj/Debug/net5.0/GC_CircleObjects.dll
GC_CircleObjects/bin/Debug/net5.0/GC_CircleObjects.pdb
GC_CircleObjects/bin/Debug/net5.0/GC_CircleObjects.dll
.vs/GC_CircleObjects/v17/.suo
